//- content Home Page 
//- top page 

.top_page{
 
    .head_page{
        display: flex;
        .title{
            font-size: 17px;
            color: #858585;
        }
        .link_acount{
            position: absolute;
            right: 100px;
            ul{
                display: flex;
                column-gap: 1rem;
                align-items: flex-end;
                a{
                    color: #858585;
                    font-weight: 300;
                    font-size: 16px;
                    .arrow_icon{
                        position: absolute;
                        top: 5px;

                    }
                }
            }
        }
    }//-end head_page
    .sub_head{
        padding-top: 30px;
        display: flex;
        align-items: center;
        h3{

        }
        .calender_icon{
            position: absolute;
            right: 80px;
            font-size: 30px;
            background: -webkit-linear-gradient( #d53a9d, #522999);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

//- body_content

.content_statistics{
    margin-top: 1.2rem;
    display: grid; //- *_*
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
    
    .box_stat{
       
        background: #fff;
        border: 2px solid #F0F0F0;
        border-radius: 2rem;
        padding: 1.8rem;
        
        // height: 170px;
        // width: 320px;
        // display: flex;
        // column-gap: 1rem;
        span{
            .inro_circle{
                padding: 10px;
            }
        }
        h3{
            font-size: 15px;
        }
        .choose_icon{
            position: fixed;
            position: relative;
            top: 0px;
            right: -50px;
            
            
            i{
                
                transform: rotateZ(270deg);
                cursor: pointer;
            }
            
        }


    }

}