
//- Base Style
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}

body,
button,input,
textarea{
    font-family: 'Rubik', sans-serif ;
    font-size: 1rem;
}
body{
    color: #818181;
    line-height: 1.7;

}
img{
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
h1{
    font-size: 2.25rem;
}
h2{
    font-size: 1.75rem;

}
h3{
    font-size: 1.25rem;
}


.page{
    min-height: 100vh;
    
    .contentPage{
        width: calc(100% - 292px);
        float: right;

        background-color: #fff9fe;
        will-change: width;
        min-height: 100vh;
        border-left: 2px solid #F0F0F0 ; 


        transition:  .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;

    }
    .container{
        padding-top: 50px;
        max-width: 968px;
        margin: auto;
       
    }
    .round_icon{
        position: absolute;
        right: -55px;
        transform: rotateZ(270deg);
    }
}