//- Just wallet 

@media only screen and (max-width: 1600px) {
    .page{
        .wallet{
            padding: 1rem ;
            .body_wallet{
                .ob2{
                    position: absolute;
                    left: 43px;
                    top: -17px;
                    height: 173px;
                    z-index: 1;
                }
            }
        }
    }
}


@media only screen and (max-width: 1200px) {
    .page{ 

        .contentPage{
            width: calc(100% - 240px);
            float: right;
        }
        .content_statistics .box_stat .middle .right h3 {
            font-size: 15px;
        }
        .sidebar{
            width: 240px;
            .link_sidebar{
                li{
                    a{
                        .num_in_li{
                            position: absolute;
                            right: 5px;
                        }
                    }
                }
            }
   

        }
        .wallet{
            padding: 1rem ;
            .body_wallet{

                .ob2{
                    position: absolute;
                    left: 43px;
                    top: -17px;
                    height: 173px;
                    z-index: 1;
                }
           
            }
        }
     
     
    }

}


@media only screen and (max-width: 1126px) {
    .page{
      
        .contentPage{
            width: calc(100% - 220px);
            float: right;
        }
        .sidebar{
            width: 220px;
            .link_sidebar{
                li{
                    a{
                        height: 40px;
                        padding-left: 25px;

                        .num_in_li{
                            position: absolute;
                            right: 2px;
                        }
                    }
                }
            }
   

        }
        .content_statistics{
            .box_stat{

                .choose_icon{
                    position: absolute;
                    right:15px;
                    top: 15px;
                    ul{
                        padding: 11px 20px 8px 9px ;
                    }
                }
                .middle{
                    .progress{
                        position: relative;
                        left: -10px;
                        top: 0;
                        margin-right: 5px;
                        width:75px;
                        height: 70px;
                        svg{
                           
                            circle{ 
                            }
                        }
                        .number{}
                    }
                    .right{
                        h3{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .wallet{
            padding: 1.8rem ;
            .body_wallet{

                .ob2{
                    position: absolute;
                    left: 40px;
                    top: -17px;
                    height: 173px;
                    z-index: 1;
                }
                .content_wallet {
                    margin-top: 20px;
                    position: relative;
                    h3{
                        font-size: 13px;

                    }
                }
            }
        }


    }
}
//- Just wallet 

@media only screen and (max-width: 1099px) {
    .page{
        .wallet{
            padding: 1rem ;
            .body_wallet{
                .ob2{
                    position: absolute;
                    left: 40px;
                    top: -17px;
                    height: 173px;
                    z-index: 1;
                }
            }
        }
    }
}

//- Just wallet 

@media only screen and (max-width: 1059px) {
    .page{
        .wallet{
            padding: 1rem ;
            .body_wallet{
                .ob2{
                    position: absolute;
                    left: 39px;
                    top: -17px;
                    height: 173px;
                    z-index: 1;
                }
            }
        }
    }
}


@media only screen and (max-width: 997px) {
    .page{  
        .header{

            .top_right_header{
                right:35px;
                .conteant_search{
                    
                    left: 20px;
                    width: 262px;
                    top: -15px;
                    height: 37px;
                    .icon-search{
                        top: 8px;
                    }
    
                }
            
                .user{
                    padding-left: 0px;
                    left: 25px;
                 
                    .user_img{
                        height: 37px;
                        width: 36px;
                        top: -16px;
                        left: 7px;
    
                    }
    
                }
                .notification{
                    .notif-icon{
                    font-size: 25px;
                    top: -9px;
                    }
            
    
                }
               
            }
        }
        .contentPage{
            width: calc(100% - 80px);
            float: right;
        }
        .sidebar{
            z-index: 2;
            width: 70px;
            overflow-x: hidden;
            .link_sidebar{
                li{
                    a{
                        height: 40px;
                        padding-left: 35px;
                        .num_in_li{
                            position: absolute;
                            right: -40px;
                            
                          
                            
                          

                        }
                    }
                }
            }
   

        }
        .wallet{
            padding: 1rem ;
            .body_wallet{
                .ob2{
                    position: absolute;
                    left: 43px;
                    top: -17px;
                    height: 173px;
                    z-index: 1;
                }
            }
        }
     


    }


}
//- Just wallet 

@media only screen and (max-width: 931px) {
    .page{
        .wallet{
            padding: 1rem ;
            .body_wallet{
                .ob2{
                    position: absolute;
                    left: 39px;
                    top: -17px;
                    height: 173px;
                    z-index: 1;
                }
            }
        }
    }
}
//- Just wallet 

@media only screen and (max-width: 884px) {
    .page{
        .wallet{
            padding: 1rem ;
            .body_wallet{
                .ob2{
                    position: absolute;
                    left: 35px;
                    top: -17px;
                    height: 173px;
                    z-index: 1;
                }
            }
        }
    }
}
//- Just wallet 

@media only screen and (max-width: 840px) {
    .page{
        .wallet{
            padding: 1rem ;
            .body_wallet{
                .ob2{
                    position: absolute;
                    left: 33px;
                    top: -17px;
                    height: 173px;
                    z-index: 1;
                }
            }
        }
    }
}



@media only screen and (max-width: 800px){
    .page.wallet .body_wallet .ob2 {
        position: absolute;
        left: 150px;
        top: 120px;
        height: 173px;
        z-index: 1;
     }
    .page{
        .header{
            .toggle{
                display: inline;
            }
        }
        .sidebar{
            position: fixed;
            left: 0;
            top: 0;
            background-color: #fff;
            width: 15rem;
            height: 100vh;
            z-index: 5;
            border-right: 2px solid #f0f0f0;
            display: none;
          

            #close{
                display: block;
                position:absolute;
                right: 20px;
                top: 30px;
                font-weight: 800;
                cursor: pointer;
                
            }
            .toggle{

            }
      
            .link_sidebar{
                margin-bottom: 105px;

                li{
                    a{
                        top: 4rem;

                    }
                }
            }
         

        }

        .contentPage{
            min-width: 100%;
            padding: 0rem 1rem ;
            margin: auto;

        }
        .container{
            width: 95%;
            margin: auto;
           
        }
        .content_statistics{
            grid-template-columns: 1fr;
            .box_stat{
                width: 85%;
                margin: auto;
                padding:1.8rem ;
                padding-bottom: 2.4rem;
                .choose_icon{
                    right: 20px;
                    top: 19px;
                    .choose_lest{
                        top: 20px;
                        left: 0px;
                        padding: 11px 30px 8px 9px ;
                    }

                }
                    
                .middle{
                    .progress{
                        position: relative;
                        left: 0px;
                        top: 5px;
                        margin-right: 5px;
                        width: 95px;
                        height: 90px;
                    
                        .number{}
                    }
                    .right{
                        padding-left: 10px;

                        h3{
                            font-size: 18px;
                        }
                    }
                }



            }
   
           
        }
    
        .conversion_rate {
            position: relative;
            margin: 3rem 0 0 0;
            width: 100%;
            padding:0;
            padding-top: 20px;
            padding-right: 40px;
            .top_table{
                .round_icon{
                    right: -15px;
                    top: 0;
                }
                .arrow{
                    font-size: 15px;
                    font-weight:800;
                    right: -25px ;
                    top: 200px;
                }
                .choose_lest_rate{
                    position: absolute;
                    right: -80px;
                    top: 20px;
                }
        
            }
            table{
                width: 100%;
                margin: 0 auto 4rem;
                
            }
        }
    
        .wallet{
            padding: 1.8rem ;
            .body_wallet{
                // padding-right: 40px;
                .content_wallet{
                    margin-top: 5px;
                    h3{
                        right:0px;
                        font-weight: 800;
                        font-size: 14px;
                        max-width: 90%;



                    }

                }
                
                .ob2{
                    position: absolute;
                    left: 29px;
                    top: -17px;
                    height: 173px;
                    z-index: 1;
                }
                
           

            }
        }
        .transaction{
            position: relative;
            margin: 3rem 0 0 0;
            width: 100%;
            padding:0;
            padding-top: 20px;
            margin-bottom: 90px;
            .top_transaction{
                .round_i{
                    right: 60px;
                    top: 0;
                }
            }
            table{
                width: 100%;
                margin: 0 auto 0rem;
            }
            .more{
                margin-bottom: 20px;
            }
        }



    }
}
//- Just wallet 
@media only screen and (max-width: 744px) {
    .page{
        .wallet{
            padding: 1rem ;
            .body_wallet{
                .ob2{
                    position: absolute;
                    left: 26px;
                    top: -17px;
                    height: 173px;
                    z-index: 1;
                }
            }
        }
    }
}
//- Just wallet 


@media only screen and (max-width: 688px) {
    .page{





        .wallet{
            padding: 1rem ;
            .body_wallet{
                padding-right: 2rem;
                .ob2{
                    position: absolute;
                    left: 24px;
                    top: -17px;
                    height: 173px;
                    z-index: 1;
                }
            }
        }
    }
}



//- Just wallet 





@media only screen and (max-width: 1014px) {
    .page{
        .wallet{
            padding: 1rem ;
            .body_wallet{
                .ob2{
                    position: absolute;
                    top: -17px;
                    height: 173px;
                    z-index: 1;
                }
            }
        }
    }
}







