.header
   a(href='#',class="logo") Code M
   
   .top_right_header
      //- Start search code
      .conteant_search
         i(class="lni lni-search-alt icon-search") 
         .box
            form(name="search")
               input(type="text", name="text", class="input", placeholder=" search e.g card")
      //- Information in header 
      div(class="user", id="user")
         img(src="img/user_img.png", alt="user img", class="user_img")
         h5.user_name Masheal Altobaity 
      //- notification in header    
      .notification
         i(class="material-icons notif-icon") notifications_none
         span.notif_num 24 
      