
section(class="sidebar" id="sidebar")
    i(class="lni lni-close " id="close")
    ul.link_sidebar
        li:  a(href="#") 
            i.material-icons.mm visibility 
            span.link_name Overview

        li:  a(href="#") 
            i.material-icons  chat_bubble_outline
            span.link_name Trade
            span.num_in_li 19

        li:  a(href="#") 
            i.lni.lni-wallet
            span.link_name Wallet
            
        li:  a(href="#") 
            i.material-icons donut_large
            span.link_name Transactions
            span(class="num_in_li  num_long_text") 10

        li:  a(href="#") 
            i.material-icons signal_cellular_alt
            span.link_name Statistics

        li:  a(href="#") 
            i(class="material-icons ") tune
            span.link_name Settings
  
  
    ul.last_sidebar
        li: a(href="#") Referral
        li: a(href="#") Logout
            