doctype html
html(lang="en")

    head
        include layout/meta.pug
        include layout/style.pug

    body 
        .page.homepage 
            include layout/header.pug
            .main_content  
                include layout/sidebar.pug
                section(class="contentPage" , id="contentPage") 
                    .container
                        .section.top_page    
                            .head_page
                                h1.title User Management System Overview
                                .link_acount
                                    ul 
                                        li: a(href="#") Accounts
                                        li  |
                                        li: a(href="#") Mashael Altobity
                                            i(class="material-icons arrow_icon") arrow_drop_up
                            .sub_head
                                h3 Overview
                                i(class="material-icons calender_icon") event_available




    include layout/scripts.pug 


