doctype html
html(lang="en")

    head
        include layout/meta.pug
        include layout/style.pug

    body 
        .page.homepage 
            include layout/header.pug
            .main_content  
                include layout/sidebar.pug
                .contentPage#contentPage Contvcxvvvxentjccf    

    include layout/scripts.pug 
ul.lest#lest 

