doctype html
html(lang="en")

    head
        include layout/meta.pug
        include layout/style.pug
    body 
        .page.homepage 
            include layout/header.pug
            .main_content  
                include layout/sidebar.pug
                main(class="contentPage" , id="contentPage") 
                    .container
                        .section.top_page    
                            .head_page
                                h1.title User Management System Overview
                                .link_acount
                                    ul 
                                        li: a(href="#") Accounts
                                        li  |
                                        li: a(href="#") Mashael Altobity
                                            i(class="material-icons arrow_icon") arrow_drop_up
                            .sub_head
                                h3 Overview
                                i(class="material-icons calender_icon") event_available
                                    //- input(type='date')
                        
                        .section.body_content
                            section.content_statistics
                                //- Total Number of Transaction
                                div(class='box_stat', id=' Transaction')
                                    div(class='choose_icon' , id='choose_icon')
                                        i.material-icons#click_icon more_vert
                                        ul(class='choose_lest' ,id='choose_lest')
                                            li: a(href="#") View
                                            li: a(href="#") Delete
                                    .middle
                                        .progress
                                            svg
                                                defs
                                                    linearGradient(id="gradient", x1='0%', y1='0%', x2='0%',y2='100%')
                                                        stop(offset='0%', stop-color='#d53a9d')
                                                        stop(offset='100%', stop-color='#522999')
                                                circle(class='inder_circle', cx='38' , cy='38', r='36')    
                                                circle(cx='38' , cy='38', r='36', stroke="url(#gradient)" transform='rotate(90 50 50)')
                                                
                                            .number: p 1500 

                                        .right
                                            h3 Total Number <br> of Transaction
                                            p 22.8%
                                              i(class="material-icons arrow_icon") arrow_drop_up

                                //- Total Number of Trade
                                div(class='box_stat', id=' Trade')
                                    div(class='choose_icon' , id='choose_icon')
                                        i.material-icons#click_icon more_vert
                                        ul(class='choose_lest' ,id='choose_lest')
                                            li: a(href="#") View
                                            li: a(href="#") Delete
                                    .middle
                                        .progress
                                            svg
                                                defs
                                                    linearGradient(id="gradient", x1='0%', y1='0%', x2='0%',y2='100%')
                                                        stop(offset='0%', stop-color='#d53a9d')
                                                        stop(offset='100%', stop-color='#522999')
                                                circle(class='inder_circle', cx='38' , cy='38', r='36')    
                                                circle(class='Trade_circle' ,cx='38' , cy='38', r='36', stroke="url(#gradient)" transform='rotate(90 50 50)')
                                                
                                            .number: p 43498

                                        .right
                                            h3 Total Number <br> of Transaction
                                            p 11.8%
                                             i(class="material-icons arrow_icon") arrow_drop_up
                                             
                                //- Market Rate Value
                                div(class='box_stat', id='rate')
                                    div(class='choose_icon' , id='choose_icon')
                                        i.material-icons#click_icon more_vert
                                        ul(class='choose_lest' ,id='choose_lest')
                                            li: a(href="#") View
                                            li: a(href="#") Delete
                                    .middle
                                        .progress
                                            svg
                                                defs
                                                    linearGradient(id="gradient", x1='0%', y1='0%', x2='0%',y2='100%')
                                                        stop(offset='0%', stop-color='#d53a9d')
                                                        stop(offset='100%', stop-color='#522999')
                                                circle(class='inder_circle', cx='38' , cy='38', r='36')    
                                                circle(class='Rate_circle',cx='38' , cy='38', r='36', stroke="url(#gradient)" transform='rotate(90 50 50)')
                                                
                                            .number: p 87%

                                        .right
                                            h3 Market <br> Rate Value
                                            p 11.8%
                                             i(class="material-icons arrow_icon") arrow_drop_up
                            section.conversion_rate 
                                .top_table
                                    h2 Conversion Rate to Naira
                                    i.material-icons.round_icon more_vert
                                    i(class='lni lni-arrow-right arrow') 
                                table
                                    thead 
                                        tr
                                            th iTunes Card
                                            th 
                                            th Amazon Card
                                            th 
                                            th Bitcoin
                                            th 
                                    tbody
                                        tr    
                                            td USA Physical
                                            td N400.00
                                            td USA Physical
                                            td N400.00
                                            td Bitcoin BTC
                                            td N400.00
                                        tr    
                                            td USA E-Code card
                                            td N400.00
                                            td USA E-Code card
                                            td N400.00
                                            td Bitcoin BTC
                                            td N400.00
                                        tr    
                                            td UK Physical Card
                                            td N400.00
                                            td UK Physical Card
                                            td N400.00
                                            td Bitcoin BTC
                                            td N400.00
                                        tr    
                                            td UK E-Code card
                                            td N400.00
                                            td UKE-Code card
                                            td N400.00
                                            td Bitcoin BTC
                                            td N400.00
                            section.wallet
                                .start
                                    object(class='star1', data='img/star-svg.svg')
                                    object(class='star2', data='img/star-svg.svg')
                                    object(class='star3', data='img/star-go.svg')
                                    i(class="lni lni-star-filled star4")
                                    i(class="lni lni-star-filled star5")
                                    i(class="lni lni-star-filled star6")
                                    i(class="lni lni-star-filled star7")
                                .top_wallet
                                    h2 wallet
                                    .wrapper  
                                        .withdraw_funds Withdraw Funds
                                .body_wallet
                                    .prize_icon 
                                        object(class='ob1', data='img/prize-img.svg')
                                    img(class='ob2' src="img/prize-img.svg#svgView(viewBox(80,-100,400,550))")
                                    .content_wallet#total_earnings 
                                        h3 Total Earnings
                                        span.num_earnings #120000.00
                                        p please note this's the total sum of ya'<br>transaction here on <b>GOGE AFRICA</b>
                                    .content_wallet#balance
                                        h3 Balance
                                        span.num_earnings #30000.00
                                        p please note this the current balance<br> amount left on ya' wallet.
                            //- section.box_statistics
                                .top_box
                                    h2 Statistics
                                    i.material-icons.round_icon more_vert
                                    ul(class='choose_lest' ,id='choose_lest')
                                        li: a(href="#") View
                                        li: a(href="#") Delete
                                .body_box
                                    h2 My Own Report
                                    //- canvas#myChart
                            section.transaction
                                .top_transaction
                                    h2 Transactions
                                    i(class='material-icons round_i') more_vert
                                table.body_transaction
                                    thead
                                        tr
                                            th Date
                                            th Transactions ID 
                                            th Type
                                            th Name
                                            th Value
                                            th Return
                                            th Status
                                            th Action
                                    tbody    
                                            tr    
                                                td 14/7/2022
                                                td 12345678
                                                td: i(class='lni lni-bitcoin type_icon')
                                                td Bitcnin
                                                td $100
                                                td #18000td 
                                                td.Status: p completed
                                                td: i.material-icons.round_i more_vert
                                            tr    
                                                td 14/7/2022
                                                td 12345678
                                                td: i.lni.lni-wallet.type_icon
                                                td Amazon
                                                td $100
                                                td #18000td 
                                                td.Status: p Failed
                                                td: i.material-icons.round_i more_vert

                                            tr    
                                                td 14/7/2022
                                                td 12345678
                                                td: i(class='lni lni-bitcoin type_icon')
                                                td Bitcnin
                                                td $100
                                                td #18000td 
                                                td.Status: p In Progress
                                                td: i.material-icons.round_i more_vert
                                            tr    
                                                td 14/7/2022
                                                td 12345678
                                                td: i.lni.lni-wallet.type_icon
                                                td Bitcnin
                                                td $100
                                                td #18000td 
                                                td.Status: p completed
                                                td: i.material-icons.round_i more_vert
                                .more View More

    include layout/scripts.pug 
