doctype html
html(lang="en")

    head
        include layout/meta.pug
        include layout/style.pug

    body 
        .page.homepage 
            include layout/header.pug
            .main_content  
                include layout/sidebar.pug
                main(class="contentPage" , id="contentPage") 
                    .container
                        .section.top_page    
                            .head_page
                                h1.title User Management System Overview
                                .link_acount
                                    ul 
                                        li: a(href="#") Accounts
                                        li  |
                                        li: a(href="#") Mashael Altobity
                                            i(class="material-icons arrow_icon") arrow_drop_up
                            .sub_head
                                h3 Overview
                                i(class="material-icons calender_icon") event_available
                                    //- input(type='date')
                        
                        .section.body_content
                            section.content_statistics
                                //- Total Number of Transaction
                                div(class='box_stat', id=' Transaction')
                                    div(class='choose_icon' , id='choose_icon')
                                        i.material-icons more_vert
                                        ul(class='choose_lest' ,id='choose_lest')
                                            li: a(href="#") View
                                            li: a(href="#") Delete
                                    .middle
                                        .progress
                                            svg
                                                defs
                                                    linearGradient(id="gradient", x1='0%', y1='0%', x2='0%',y2='100%')
                                                        stop(offset='0%', stop-color='#d53a9d')
                                                        stop(offset='100%', stop-color='#522999')
                                                circle(class='inder_circle', cx='38' , cy='38', r='36')    
                                                circle(cx='38' , cy='38', r='36', stroke="url(#gradient)" transform='rotate(90 50 50)')
                                                
                                            .number: p 1500 

                                        .right
                                            h3 Total Number <br> of Transaction
                                            p 22.8%
                                              i(class="material-icons arrow_icon") arrow_drop_up

                                //- Total Number of Trade
                                div(class='box_stat', id=' Trade')
                                    div(class='choose_icon' , id='choose_icon')
                                        i.material-icons more_vert
                                        ul(class='choose_lest' ,id='choose_lest')
                                            li: a(href="#") View
                                            li: a(href="#") Delete
                                    .middle
                                        .progress
                                            svg
                                                defs
                                                    linearGradient(id="gradient", x1='0%', y1='0%', x2='0%',y2='100%')
                                                        stop(offset='0%', stop-color='#d53a9d')
                                                        stop(offset='100%', stop-color='#522999')
                                                circle(class='inder_circle', cx='38' , cy='38', r='36')    
                                                circle(class='Trade_circle' ,cx='38' , cy='38', r='36', stroke="url(#gradient)" transform='rotate(90 50 50)')
                                                
                                            .number: p 43498

                                        .right
                                            h3 Total Number <br> of Transaction
                                            p 11.8%
                                             i(class="material-icons arrow_icon") arrow_drop_up
                                            
                                //- Market Rate Value
                                div(class='box_stat', id='rate')
                                    div(class='choose_icon' , id='choose_icon')
                                        i.material-icons more_vert
                                        ul(class='choose_lest' ,id='choose_lest')
                                            li: a(href="#") View
                                            li: a(href="#") Delete
                                    .middle
                                        .progress
                                            svg
                                                defs
                                                    linearGradient(id="gradient", x1='0%', y1='0%', x2='0%',y2='100%')
                                                        stop(offset='0%', stop-color='#d53a9d')
                                                        stop(offset='100%', stop-color='#522999')
                                                circle(class='inder_circle', cx='38' , cy='38', r='36')    
                                                circle(class='Rate_circle',cx='38' , cy='38', r='36', stroke="url(#gradient)" transform='rotate(90 50 50)')
                                                
                                            .number: p 87%

                                        .right
                                            h3 Market <br> Rate Value
                                            p 11.8%
                                             i(class="material-icons arrow_icon") arrow_drop_up
                            section Here Start 







                        

    include layout/scripts.pug 


